@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

body{
    background: #fbfbfb;
    width: 100%;
}
.container{
    width: 100%;
    height: 1010px;
    padding: 20%;
}

.top-icon{
    width:143.25px;
    height: 45px;
    position: absolute;
    left: 5.56%;
    right: 92.06%;
    top: 5.86%;
    bottom: 91.49%;
}

.grace{
    width:379px;
    height: 38px;
    position: absolute;
    left: 80px;
    top: 185px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #213F7D;
}

.text-1{
    width:566px;
    height: 48px;
    position: absolute;
    left:80px;
    top:243px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #545F7D;  
}

.text-2{
    width:557px;
    height: 72px;
    position: absolute;
    left: 80px;
    top:301px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #545F7D;
}

.input-detail{
    background: #fff;
    max-width: 100%;
    width:540px;
    height: 370px;
    position: absolute;
    left: 80px;
    top:403px;
    border-radius: 8px;
    border: 1px solid rgba(33, 63, 125, 0.06);
}


#form-1{
    position: absolute;
    width: 440px;
    height: 50px;
    left: 50px;
    right:50px;
    top: 97px;
    font-family: work sans;
}

#form-2{
position: absolute;
width: 440px;
height: 50px;
left: 50px;
right:50px;
top: 167px;
}

.btn{
    width: 440px;
    height: 48px;
    position: absolute;
    left: 9.03%;
    right: 60.42%;
    bottom: 75px;
    font-weight: 600;
    background: #39CDCC;
    border: none;
    border-radius: 8px;
}

.accept{
    position: absolute;
    width: 179px;
    height: 16px;
    left: 181px;
    top: 315px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #545F7D;
}

.agree-terms{
    
    position: absolute;
    left:111px;
    top: 793px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #545F7D;
    text-align: center;
}

.details{
    background: #fff;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 720px;
    top: 185px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-sizing: border-box;
    border-radius: 4px;
}

.top-left-1{
    width: 145px;
    height: 19px;
    position: absolute;
    top: 29px;
    left: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #213F7D;
}

.top-left-2{
    width: 69px;
    height: 14px;
    position: absolute;
    top: 78px;
    left: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.top-left-3{
    width: 120px;
    height: 19px;
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.top-left-4{
    width: 69px;
    height: 14px;
    position: absolute;
    top: 151px;
    left: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.top-left-5{
    width: 57px;
    height: 19px;
    position: absolute;
    top: 173px;
    left: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.top-left-6{
    width: 84px;
    height: 14px;
    position: absolute;
    top: 229px;
    left: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.top-left-7{
    width: 155px;
    height: 19px;
    position: absolute;
    top: 253px;
    left: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.top-right-1{
    width: 97px;
    height: 14px;
    position: absolute;
    top: 78px;
    right: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.top-right-2{
    width: 106px;
    height: 19px;
    position: absolute;
    top: 100px;
    right: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.top-right-3{
    width: 99px;
    height: 14px;
    position: absolute;
    top: 149px;
    right: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.top-right-4{
    width: 48px;
    height: 19px;
    position: absolute;
    top: 173px;
    right: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.top-right-5{
    width: 108px;
    height: 14px;
    position: absolute;
    top: 229px;
    right: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.top-right-6{
    width: 208x;
    height: 19px;
    position: absolute;
    top: 253px;
    right: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.line{
    position: absolute;
    width: 540px;
    height: 1px;
    top: 302px;
    left: 30px;
    background: rgba(33, 63, 125, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
}

.bottom-left-1{
        width: 98px;
        height: 19px;
        position: absolute;
        top: 333px;
        left: 30px;
        font-family: work sans;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #213F7D;

}

.bottom-left-2{
    width: 88px;
    height: 14px;
    position: absolute;
    top: 382px;
    left: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.bottom-left-3{
    width: 97px;
    height: 19px;
    position: absolute;
    top: 404px;
    left: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.bottom-left-4{
    width: 41px;
    height: 14px;
    position: absolute;
    top: 453px;
    left: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.bottom-left-5{
    width: 74px;
    height: 19px;
    position: absolute;
    top: 477px;
    left: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.bottom-left-6{
    width: 71px;
    height: 14px;
    position: absolute;
    top: 526px;
    left: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.bottom-left-7{
    width: 180px;
    height: 19px;
    position: absolute;
    top: 548px;
    left: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.bottom-right-1{
    width: 58px;
    height: 14px;
    position: absolute;
    top: 382px;
    right: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.bottom-right-2{
    width: 31px;
    height: 19px;
    position: absolute;
    top: 404px;
    right: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.bottom-right-3{
    width: 112px;
    height: 14px;
    position: absolute;
    top: 453px;
    right: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.bottom-right-4{
    width: 97px;
    height: 19px;
    position: absolute;
    top: 477px;
    right: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.bottom-right-5{
    width: 60px;
    height: 14px;
    position: absolute;
    top: 526px;
    right: 30px;
    font-family: work sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #545F7D;
}

.bottom-right-6{
    width: 173px;
    height: 19px;
    position: absolute;
    top: 548px;
    right: 30px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #545F7D;
}

.footer-text{
    position: absolute;
    width: 69px;
    height: 14px;
    left: 654px;
    top: 930px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.footer-icon-1{
    background: linear-gradient(31.32deg, #213F7D -30.58%, #39CDCC 116.98%);
    position: absolute;
    width: 8.25px;
    height: 8.33px;
    left: 729px;
    top: 932.56px;
}

.footer-icon-2{
    background: #213F7D;
    position: absolute;
    width: 46.15px;
    height: 12px;
    left: 740.78px;
    top: 932px;
}


